<!DOCTYPE html>
<html>
  <head>
    <title>Manga TV</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/lib/jquery-1.9.1.min.js"></script>
    <!--
        <script src="./javascripts/headtrackr.js"></script>
        -->
  </head>
  <body>
    <video></video>
    <canvas></canvas>
    <form>
      Dark: <input type="num" id="dark" min="0" max="255"><br>
      Blight: <input type="num" id="blight" min="0" max="10">
    </form>
    <script src="js/lib/stats.js"></script>
    <script src="js/pages/index.js"></script>
  </body>
</html>
