@charset 'utf-8';.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}html,body{margin:0;padding:0;width:100%;height:100%}
#notification-area{position:absolute;width:100%;height:40px;line-height:40px;background-color:#171717;color:white;font-size:32px}
#notifications{*zoom:1;overflow:hidden;width:100%;list-style:none;position:relative;margin:0;padding:0}#notifications li{padding:4px 8px;opacity:0;position:relative;float:left;height:32px;-webkit-animation-name:slider;-webkit-animation-duration:10s;-webkit-animation-timing-function:linear;-moz-animation-name:slider;-moz-animation-duration:10s;-moz-animation-timing-function:linear;animation-name:slider;animation-duration:10s;animation-timing-function:linear}#notifications li .icon{width:32px;height:32px}.template{display:none}
#video-container {
	text-align: center;
	top: 0px;
	bottom: 0px;
}
body {
	background: #eee;
}

#face,#full,#face-orig{
	position:absolute;
	text-align: center;
}
#full {
	border: 1px solid #333;
}

#face {
	/* border: 1px dashed #666; */
}
#face-orig {
	/* border: 1px dashed #888; */
}

#rec-log {
	width: 200px;
	font-size: 0.5em;
}

@-webkit-keyframes slider{0%{left:100%;opacity:1}90%{left:10%;opacity:1}100%{left:0;opacity:1}}video{display:none}form{position:absolute;top:0;right:0;background:#fff;border:1px solid black;text-align:right;padding:3px}


form {
	position:absolute;
	top:0; left:0;
	width: 50px;
	height: 20px;
	overflow: hidden;
	color: white;
}
form:hover{
	color: black;
	width: 200px;
	height: auto;
}

#rec {
	position: absolute;
	top: 2%;
	right: 13%;
}

.rec .rec-start {
	display: none;	
}
.rec .rec-stop {
	display: block;
}
.rec-stop {
	display: none;
}
#rec-time {
	display: block;
	font-weight: bold;
	font-size: 3em;
}

.rec #rec-time {
	display: block;
}

